<VirtualHost *:80>
  Redirect permanent / https://example.com/
</VirtualHost>
<VirtualHost *:443>
  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/selfsigned.crt
  SSLCertificateKeyFile /etc/ssl/private/selfsigned.key
  DocumentRoot /var/www/html
</VirtualHost>
